* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 22px;
}

body {
  color: rgb(238, 238, 238);
  background-color: black;
}

a {
  color: rgb(78, 148, 124);
}

a:hover {
  color: rgb(255, 0, 0);
}

a:visited {
  color: #add8e6;
}

a:active {
  color: #0000ff;
}

/* 
a {
  color: #add8e6;
}

a:hover {
  color: #00ffff;
}

a:visited {
  color: #dda0dd;
} */

details {
  padding: 20px;
  width: fit-content;
  background-color: #999;
  border-radius: 20px;
  margin: 30px;
}

details p {
  padding: 20px;
  width: 90%;
  background-color: #666;
  margin-top: 10px;
  border-radius: 20px;
}

table,
td,
tr,
th,
caption {
  /* margin: 20px; */
  border: 1px solid;
  border-collapse: collapse;
  padding: 0.5rem;
  font-family: "Courier New", "Courier New", Courier, monospace;
  text-align: center;
}

form {
  width: 500px;
}
/* 
input {
  width: 50%;
} */
